body{
    padding-top: 20px;
    text-align: center;
    background-image: url(2.jpg);
    background-size: cover;
}

#dem0
{
    color: blueviolet;

}
.btn
{
    background-color: #4CAF50;
    border: none;
    color: rgb(26, 49, 30);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
}
.btn
{
    border-radius: 50%;  
}
.btn:hover
{
    background-color: #64619659;
}
.qw
{
    
    height: 30px;
}